.table_warpper {
  overflow: auto;
}
.table_warpper table {
  min-width: 1110px;
  border-collapse: collapse;
}
.table_warpper table thead th {
  padding: 16px 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.table_warpper table tbody td {
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}
.table_warpper table tbody td a {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* light theme */

.table_warpper_l table thead th {
  background-color: rgb(244, 247, 249);
  color: rgb(85, 98, 109);
  border-top: 1px solid rgb(231, 236, 247);
}
.table_warpper_l table tbody td {
  color: rgb(248, 248, 248);
  border-top: 1px solid rgb(231, 236, 247);
}
.table_warpper_l table tbody td a {
  color: rgb(0, 174, 233);
}
.table_warpper_l .td {
    color: rgb(85, 98, 109);
}
/* dark theme */

.table_warpper_d table thead th {
  background-color: rgb(27, 62, 127);
  color: rgb(248, 248, 248);
  border-top: 1px solid rgb(55, 88, 115);
}
.table_warpper_d table tbody td {
  color: rgb(117, 135, 150);
  border-top: 1px solid rgb(55, 88, 115);
}
.table_warpper_d table tbody td a {
  color: rgb(105, 250, 189);
}
.table_warpper_d .td {
    color: #fff;
  }