.table_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my_select:focus{
  border: 1px solid #ced4da;
  box-shadow: none;
}

@media (min-width: 1450px) {
  .table_wrapper {
    flex-direction: row;
  }

  .trasactions_table {
    flex-basis: 50%;
  }

  .blocks_table{
    flex-basis: 50%;
  }
}
