.wrapper {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  overflow: auto;
}

.thead {
  position: relative;
  border-spacing: 0px;
  border-collapse: separate;
  height: auto;
  width: 100%;
  min-width: 620px;
}
.thead_tr {
}
.th {
  padding: 16px 8px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.th:last-child {
  text-align: right;
}

.th_l {
  color: rgb(117, 135, 150);
}
.th_d {
  color: rgb(95, 152, 199);
}

.tbody {
}

.td {
  padding: 16px 8px;
  font-size: 14px;
  line-height: 20px;
}
.td_l {
  border-bottom: 1px solid rgb(231, 236, 247);
  color: rgb(85, 98, 109);
}
.td_d {
  border-bottom: 1px solid rgb(55, 88, 115);
  color: rgb(248, 248, 248);
}
.address {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.address_l {
  color: rgb(0, 174, 233) !important;
}
.address_d {
  color: rgb(105, 250, 189) !important;
}
.icon_text {
  display: flex;
  gap: 5px;
  align-items: center;
}
