.wrapper {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  overflow: auto;
}

.thead {
  position: relative;
  border-spacing: 0px;
  border-collapse: separate;
  height: auto;
  width: 100%;
  min-width: 620px;
}
.thead_tr {
}
.th {
  padding: 16px 8px;
  color: rgb(85, 98, 109);
  color: rgb(117, 135, 150);
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.th:last-child {
  text-align: right;
}

.tbody {
}

.td {
  padding: 16px 8px;
  border-bottom: 1px solid rgb(231, 236, 247);
  font-size: 14px;
  line-height: 20px;
  color: rgb(85, 98, 109);
}

.address{
     color: rgb(0, 174, 233);
     display: flex;
     gap: 5px;
     cursor: pointer;
}
.address:hover{
     color: rgb(0, 174, 233);
}

.icon_text{
  display: flex;
  gap: 5px;
  align-items: center;
}