
.btn {
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px;
    background: none !important;
    outline: none;
    border: none;
    font-size: 15px;
  }
  .btn_l {
    color: rgb(0, 174, 233);
  }
  .btn_l svg {
    color: rgb(102, 102, 102);
    height: 12px;
  }
  .btn_d {
    color: rgb(0, 174, 233);
  }
  .opend {
    transform: rotate(180deg);
  }